@font-face {
  font-family: 'bebas_neueregular';
  src: url('bebasneue-regular-webfont.woff2') format('woff2'),
       url('bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.line{
  border-bottom: 1px solid rgb(204, 202, 202);
}

.license-box{
  width: 450px;
  padding: 20px;
  border: 7px solid #ebebeb;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-color: #f8f8f8;
}

.licenses-box__inner{
  padding-bottom: 10px;
}


.form-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 35px;
  background-color: transparent;
  border: 1px solid transparent;
}

.form-inner:hover,
.form-inner:focus-within{
  background-color: #ebf4f7;
  -webkit-transition: border .4s, background-color .5s;
  -o-transition: border .4s, background-color .5s;
  transition: border .4s, background-color .5s;
}

.form-inner:focus-within{
  border: 1px solid rgba(112, 172, 241, 0.2);
}

.license-plan{
  font-family: 'bebas_neueregular';
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}

.license-text{
  color: #959595;
}

 /* styles for select  */

.license-box__number-position{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}


.license-box__number-license{
  margin-left: 10px;
  border: 3px solid #8dafe6;
  padding: 2px 5px 2px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 50px;
  z-index: 1;
  background:url('../images/arrow-down.svg');
  background-repeat:no-repeat;
	background-size: 7px 8px;
  background-position: 90% center;
}

/* radio button */
lable{
  display: block;
}

.radio-box{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  padding-left: 24px;
}

.radio-style{
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #376690;
  margin-left: -24px;
  border-radius: 50%;
}


.radio-box:checked + .radio-style::before{
  content: "";
  width: 8px;
  height:8px;
  background-color:#67a4c5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  border-radius: 50%;
}


/* license-buy */
.license-buy{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.license-plan{
  font-family: "sans-serif";
}

.license-plan span{
  color:  #3388a8;
}

sup{
  font-size: 11px;
  color: #60a2ba;
}

.btn-buy{
  padding: 15px 40px;
  color: #ffffff;
  background-color: #33a845;
  margin: 15px;
  border-radius: 50px;
}

.btn-buy:hover{
  background-color: #31743b;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.license-selected{
  width: 300px;
  text-align: center;
}

.license-selected__box-value{
  color:  rgb(24, 100, 201);
  padding-top: 20px;
}

@media (max-width: 377px){
  .license-box{
    width: 100%;
    padding: 5px;
    border: 5px solid #ebebeb;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    background-color: #f8f8f8;
  }
}